src/**
build.mjs
tests/**
tsconfig.json
package-lock.json
*.vsix
out/**/*.map
out/**/*.d.ts
node_modules/**/*.js
node_modules/**/*.ts
node_modules/**/*.map
node_modules/**/*.json
node_modules/**/README*
node_modules/**/readme*
node_modules/**/CHANGELOG*
node_modules/**/changelog*
node_modules/**/*.cmd
node_modules/**/*.bnf
node_modules/**/*.sh
node_modules/**/.github/**
